h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 100%;
  text-align: center;
}

p,
h2 {
  display: block;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: 50;
}

.btn-branding {
  background: pink;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn {
  display: inline-block;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.button {
  text-align: center;
}

.hero {
  padding: 30px;
}

.primary-link {
    background: pink;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
 display: inline-block;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;   
}
